aws_region   = "us-east-1"
project      = "togglemaster"
cluster_name = "togglemaster-eks-prod"


gitops_repo_url = "https://github.com/SEU-USUARIO/togglemaster-tc3.git"
gitops_revision = "HEAD"


expose_argocd_lb = false
