# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example
crash.log
override.tf
override.tf.json
_override.tf
_override.tf.json

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.coverage
coverage.xml
*.egg-info/
.venv/
venv/

# Go
*.test
*.out
coverage.out
gosec.sarif

# Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Env files com segredos
.env
.env.local
services/*/.env

# Logs
*.log
